
.navbar {
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    opacity: 9;
}
.migracode-logo {
    width: 30%;
}
.navbar .nav-item .nav-link {
    color: rgb(0, 0, 255);
}
.background {
    background-size:cover;
}
.form-inline {
    flex-direction: row;
    justify-content: space-around;
}
.img {
    width: 2550px;
}
    .carousel-caption{
        color: floralwhite;
        font-size: 100px;
        box-shadow: 1000px, 1000px, 1000px rgb(0, 0, 0) ;
        opacity: 100;
        
    }

